HelloDify-多平台内容生成器.yml
app:
  description: dify官方demo， 一个工作流，它可以接受你提供的任何内容（文本、文档或图像），添加你偏好的语音和语调，并生成针对你选择语言的精美的、特定平台的社交媒体帖子。
  icon: 859496d5-b741-4eef-9c9e-9d6e2bb79c1b
  icon_background: null
  icon_type: image
  mode: workflow
  name: HelloDify-多平台内容生成器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.3@66e156c4f612964c131c49168882e78c2cdfe366879506b97ad855b23c5d6d98
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1776656678546-source-1776671028197-target
      source: '1776656678546'
      sourceHandle: source
      target: '1776671028197'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1776671028197-source-1776671415605-target
      source: '1776671028197'
      sourceHandle: source
      target: '1776671415605'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1776671415605-true-1776671555873-target
      source: '1776671415605'
      sourceHandle: 'true'
      target: '1776671555873'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1776671415605-false-1776672343725-target
      source: '1776671415605'
      sourceHandle: 'false'
      target: '1776672343725'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1776671415605-false-17766736642280-target
      source: '1776671415605'
      sourceHandle: 'false'
      target: '17766736642280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 17766736642280-source-1776673814954-target
      source: '17766736642280'
      sourceHandle: source
      target: '1776673814954'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1776673814954-source-1776675252294-target
      source: '1776673814954'
      sourceHandle: source
      target: '1776675252294'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: llm
      id: 1776672343725-source-1776675252294-target
      source: '1776672343725'
      sourceHandle: source
      target: '1776675252294'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: iteration
      id: 1776675252294-source-1776677029948-target
      source: '1776675252294'
      sourceHandle: source
      target: '1776677029948'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776677029948'
        sourceType: iteration-start
        targetType: llm
      id: 1776677029948start-source-1776677290506-target
      source: 1776677029948start
      sourceHandle: source
      target: '1776677290506'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1776677029948'
        sourceType: llm
        targetType: llm
      id: 1776677290506-source-1776677452648-target
      source: '1776677290506'
      sourceHandle: source
      target: '1776677452648'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: template-transform
      id: 1776677029948-source-1776684499337-target
      source: '1776677029948'
      sourceHandle: source
      target: '1776684499337'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1776684499337-source-1776684741669-target
      source: '1776684499337'
      sourceHandle: source
      target: '1776684741669'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 草稿
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: draft
        - default: ''
          hint: ''
          label: 目标平台（<=10）
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: platform
        - default: 简体中文
          hint: ''
          label: 语言
          options:
          - 简体中文
          - English
          placeholder: ''
          required: true
          type: select
          variable: language
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: 上传文件（<=10M）
          max_length: 10
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: user_file
        - default: ''
          hint: ''
          label: 语音与语调
          max_length: 2048
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: voice_and_tone
      height: 213
      id: '1776656678546'
      position:
        x: 108.54887215886296
        y: 349
      positionAbsolute:
        x: 108.54887215886296
        y: 349
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: '# TASK DESCRIPTION

          Parse platform names from input and output as a JSON array.


          ## PROCESSING RULES

          - Support multiple delimiters: commas, semicolons, spaces, line breaks,
          "and", "&", "|", etc.

          - Standardize common platform name variants (twitter/X→Twitter, insta→Instagram,
          etc.)

          - Remove duplicates and invalid entries

          - Preserve unknown but reasonable platform names

          - Preserve the original language of platform names


          ## OUTPUT REQUIREMENTS

          - Success: ["Platform1", "Platform2"]

          - No platforms found: [No platforms identified. Please enter a valid platform
          name.]


          ## EXAMPLES

          - Input: "twitter, linkedin" → ["Twitter", "LinkedIn"]

          - Input: "x and insta" → ["Twitter", "Instagram"]

          - Input: "invalid content" → [No platforms identified. Please enter a valid
          platform name.]'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4.7-flash
          provider: langgenius/ollama/ollama
        parameters:
        - description: The platform(s) for which the user wants to create tailored
            content.
          name: platform
          required: true
          type: array[string]
        query:
        - '1776656678546'
        - platform
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1776671028197'
      position:
        x: 383.79522334551444
        y: 370
      positionAbsolute:
        x: 383.79522334551444
        y: 370
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4b2e52a2-1973-4908-8770-c1cbc0d19d8d
            value: No platforms identified.Please enter a valid platform name.
            varType: array[string]
            variable_selector:
            - '1776671028197'
            - platform
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 148
      id: '1776671415605'
      position:
        x: 681.1424148562365
        y: 370
      positionAbsolute:
        x: 681.1424148562365
        y: 370
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1776671028197'
          - platform
          value_type: array[string]
          variable: platform
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1776671555873'
      position:
        x: 970.347191510722
        y: 250.19018140109156
      positionAbsolute:
        x: 970.347191510722
        y: 250.19018140109156
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 图像
        type: list-operator
        var_type: array[file]
        variable:
        - '1776656678546'
        - user_file
      height: 92
      id: '1776672343725'
      position:
        x: 970.347191510722
        y: 422.555064171552
      positionAbsolute:
        x: 970.347191510722
        y: 422.555064171552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        isInIteration: false
        isInLoop: false
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 文档
        type: list-operator
        var_type: array[file]
        variable:
        - '1776656678546'
        - user_file
      height: 92
      id: '17766736642280'
      position:
        x: 970.347191510722
        y: 588.6609183132732
      positionAbsolute:
        x: 970.347191510722
        y: 588.6609183132732
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '17766736642280'
        - result
      height: 104
      id: '1776673814954'
      position:
        x: 1272.347191510722
        y: 588.6609183132732
      positionAbsolute:
        x: 1272.347191510722
        y: 588.6609183132732
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            num_predict: 1024
            temperature: 0.7
          mode: chat
          name: qwen3.5:35b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: a1a46799-e11e-490f-be9d-123a2cff6958
          role: system
          text: '# ROLE & TASK

            You are a content strategist. Analyze the provided draft and reference
            materials (if any), then create a comprehensive content foundation for
            multi-platform social media optimization.


            # ANALYSIS PRINCIPLES

            - Work exclusively with provided information—no external assumptions

            - Focus on extraction, synthesis, and strategic interpretation

            - Identify compelling and actionable elements

            - Prepare insights adaptable across different platforms


            # REQUIRED ANALYSIS

            Deliver structured analysis with:


            ## 1. CORE MESSAGE

            - Central theme, purpose, objective

            - Key value or benefit being communicated


            ## 2. ESSENTIAL CONTENT ELEMENTS

            - Primary topics, facts, statistics, data points

            - Notable quotes, testimonials, key statements

            - Features, benefits, characteristics mentioned

            - Dates, locations, contextual details


            ## 3. STRATEGIC INSIGHTS

            - What makes content compelling/unique

            - Emotional/rational appeals present

            - Credibility factors, proof points

            - Competitive advantages highlighted


            ## 4. ENGAGEMENT OPPORTUNITIES

            - Discussion points, questions emerging

            - Calls-to-action, next steps suggested

            - Interactive/participation opportunities

            - Trending themes touched upon


            ## 5. PLATFORM OPTIMIZATION FOUNDATION

            - High-impact: Quick, shareable formats

            - Professional: Business-focused discussions

            - Community: Interaction and sharing

            - Visual: Enhanced with strong visuals


            ## 6. SUPPORTING DETAILS

            - Metrics, numbers, quantifiable results

            - Direct quotes, testimonials

            - Technical details, specifications

            - Background context available'
        - id: a0f37f8c-9a5c-4622-ac24-9bd84d189a37
          role: user
          text: 'Draft: {{#1776656678546.draft#}}

            Reference material: {{#1776673814954.text#}}'
        selected: false
        title: 整合信息
        type: llm
        vision:
          configs:
            detail: low
            variable_selector:
            - '1776672343725'
            - result
          enabled: true
      height: 88
      id: '1776675252294'
      position:
        x: 1557.1028668782653
        y: 422.555064171552
      positionAbsolute:
        x: 1557.1028668782653
        y: 422.555064171552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 176
        is_parallel: true
        iterator_input_type: array[string]
        iterator_selector:
        - '1776671028197'
        - platform
        output_selector:
        - '1776677452648'
        - structured_output
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1776677029948start
        title: 迭代
        type: iteration
        width: 678
      height: 176
      id: '1776677029948'
      position:
        x: 1850.2639608489856
        y: 422.555064171552
      positionAbsolute:
        x: 1850.2639608489856
        y: 422.555064171552
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 678
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1776677029948start
      parentId: '1776677029948'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1874.2639608489856
        y: 490.555064171552
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1776677029948'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4.7-flash
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 5fd2d59e-153c-472f-b159-0d007ae7a918
          role: system
          text: '# ROLE & TASK

            You are a social media expert. Analyze the platform and provide content
            creation guidelines.


            # ANALYSIS REQUIRED

            For the given platform, provide:


            ## 1. PLATFORM PROFILE

            - Platform type and category

            - Target audience characteristics


            ## 2. CONTENT GUIDELINES

            - Optimal content length (characters/words)

            - Recommended tone (professional/casual/conversational)

            - Formatting best practices (line breaks, emojis, etc.)


            ## 3. ENGAGEMENT STRATEGY

            - Hashtag recommendations (quantity and style)

            - Call-to-action best practices

            - Algorithm optimization tips


            ## 4. TECHNICAL SPECS

            - Character/word limits

            - Visual content requirements

            - Special formatting needs


            ## 5. PLATFORM-SPECIFIC NOTES

            - Unique features or recent changes

            - Industry-specific considerations

            - Community engagement approaches


            # OUTPUT REQUIREMENTS

            - For recognized platforms: Provide specific guidelines

            - For unknown platforms: Base recommendations on similar platforms

            - Focus on actionable, practical advice

            - Be concise but comprehensive'
        - id: 731b3c8f-7d23-4bea-bb86-6809edff342c
          role: user
          text: 'Platform: {{#1776677029948.item#}}'
        selected: false
        title: 识别风格
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776677290506'
      parentId: '1776677029948'
      position:
        x: 120.37496048171897
        y: 67.17858271950888
      positionAbsolute:
        x: 1970.6389213307045
        y: 489.73364689106086
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1776677029948'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4.7-flash
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: e23e93aa-a622-40aa-ad09-a00d63261758
          role: system
          text: '# ROLE & TASK

            You are an expert social media content creator. Generate publication-ready
            content that matches platform guidelines, incorporates source information,
            and follows specified voice/tone and language requirements.


            # LANGUAGE REQUIREMENT

            - Generate ALL content exclusively in the target language specified in
            the user message. You MUST write the entire post in that language, regardless
            of the language of any source materials.

            - No mixing of languages whatsoever

            - Adapt platform terminology to the target language


            # CONTENT REQUIREMENTS

            - Follow platform guidelines exactly (format, length, tone, hashtags)

            - Integrate source information effectively (key messages, data, value
            props)

            - Apply voice & tone consistently (if provided)

            - Optimize for platform-specific engagement

            - Ensure cultural appropriateness for the specified language


            # OUTPUT FORMAT

            - Generate ONLY the final social media post content. No explanations or
            meta-commentary. Content must be immediately copy-paste ready.

            - Maximum heading level: ## (H2) - never use # (H1)

            - No horizontal dividers: avoid ---


            # QUALITY CHECKLIST

            ✅ Platform guidelines followed

            ✅ Source information integrated

            ✅ Voice/tone consistent (when provided)

            ✅ Language consistency maintained

            ✅ Engagement optimized

            ✅ Publication ready'
        - id: 1d7346ce-a6cd-4b58-a5de-bbfded85c48a
          role: user
          text: 'Platform Name: {{#1776677029948.item#}}

            Target Language: {{#1776656678546.language#}}

            Platform Guidelines:{{#1776677290506.text#}}

            Source Information: {{#1776675252294.text#}}

            Voice & Tone: {{#1776656678546.voice_and_tone#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              platform_name:
                type: string
              post_content:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: 创建内容
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776677452648'
      parentId: '1776677029948'
      position:
        x: 389.69621968908564
        y: 68
      positionAbsolute:
        x: 2239.960180538071
        y: 490.555064171552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        selected: false
        template: '{% for item in output %}

          # 📱 {{ item.platform_name }}

          {{ item.post_content }}


          {% endfor %}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1776677029948'
          - output
          value_type: array[object]
          variable: output
      height: 52
      id: '1776684499337'
      position:
        x: 2582.695802221678
        y: 422.555064171552
      positionAbsolute:
        x: 2582.695802221678
        y: 422.555064171552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1776684499337'
          - output
          value_type: string
          variable: output
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1776684741669'
      position:
        x: 2901.4002781036015
        y: 422.555064171552
      positionAbsolute:
        x: 2901.4002781036015
        y: 422.555064171552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -107.77056902461982
      y: -48.99935668651551
      zoom: 0.8796781038974698
  rag_pipeline_variables: []
